<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=localhost;Database=StudentManager;User Id=cesar;Password=123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>